@{
    ViewData["Title"] = "O nama";
}
<h2>@ViewData["Title"]</h2>

<p>RentACar nudi vrhunsku i pouzdanu uslugu najma vozila.</p>
<p>Nudimo usluge najma vozila od najmanjih pa do vozila premium klase.</p>
<p>Sva su naša vozila opremljena klimatizacijskim uređajem, a na raspolaganju ti je i mogućnost najma dječje sjedalice, sofisticiranih GPS uređaja te WiFi uređaja za mobilni internet.</p>
