@{
    ViewData["Title"] = "Kontakt";
}
<h2>@ViewData["Title"]</h2>

<address>
    Ljudevita Posavskog 88<br />
    10360, Sesvete<br />
    <abbr title="Telefon">T:</abbr>
    +385 (1) 2003 088
</address>

<address>
    <strong>Radno vrijeme:</strong>
    Pon—Pet / 08:00—16:00<br />
    Sub—Ned / Zatvoreno<br />
</address>

<address>
    <strong>Podrška korisnicima:</strong> <a href="mailto:podrska@rentacar.hr">podrska@rentacar.hr</a><br />
</address>
